name: CI/CD Pipeline - Desafio Final
on:
  push:
    branches:
      - main
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    permissions:
      contents: read
      packages: write

      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Login no GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.MY_TOKEN }}

      - name: Build e Push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository }}:latest
  
  test:
    run-on: ubuntu-latest
    steps:
      steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Instalar dependências
        run: pip install -r requirements.txt

      - name: Rodar testes unitários
        run: python test_app.py

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Deploy usando action do Render
        uses: johnbeynon/render-deploy-action@v0.0.3
        with:
          serviceId: srv-d4fseta4d50c73f13skg
          apiKey: ${{ secrets.API_KEY_DEVOPS }}
          clearCache: false

      - name: Acionar Deploy Hook no Render
        run: |
          curl -X POST "${{ secrets.MY_WEBHOOK }}"
          echo "Sinal de deploy enviado ao Render."